.backgroundButton {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 1rem 1rem 0;
  padding: 0.7rem;
  background: rgba(255, 255, 255, 0);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
}

.backgroundSelector {
  position: relative;
  display: inline-block;
}

.backgroundOptions {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-right: 1rem;
  bottom: 77px;
  right: 0;
  min-width: 10rem;
  z-index: 1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
}

.backgroundOptions a {
  width: 100%;
  padding: 1.5rem 0;
  text-decoration: none;
  cursor: pointer;
}

.backgroundSelector:hover .backgroundOptions {
  display: flex;
}

.categorySelector {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: linear 0.7s;
}

.categorySelector::after {
  content: "";
  position: absolute;
  width: 50%;
  background-color: white;
  transform: scaleX(0);
  height: 2px;
  bottom: 1rem;
  left: 2.5rem;
  transform-origin: center;
  transition: transform 0.25s ease-out;
  z-index: 1;
}

.categorySelector:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

@media (max-width: 1280px) {
  .backgroundButton {
    padding: 0.3rem;
  }
}
