.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  animation: fade 2s ease;
  margin-bottom: 1.5rem;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
  margin: 2rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: auto;
  background: rgba(255, 255, 255, 0);
  font-size: 1.2rem;
}

.categorySelector {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30%;
  opacity: 0.3;
  transition: linear 0.7s;
}

.categorySelector::after {
  content: "";
  position: absolute;
  width: 40%;
  background-color: white;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.5rem;
  left: 1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.categorySelector:hover {
  opacity: 1;
}

.categorySelector:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 768px) {
  .name {
    margin: 1rem;
  }

  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .aboutText {
    white-space: break;
  }
}
