.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  animation: fadeIn 1.5s ease;
}

.videoTitle h1 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.contentArea {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.videoArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 4s ease;
  width: 100%;
  height: 30rem;
}

@media (max-width: 1280px) {
  .videoArea {
    height: 20rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 5rem 0;
  }

  .contentArea {
    flex-direction: column;
  }

  .videoArea {
    height: 20rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
